body {
  font-family: Impact;
  background-image: conic-gradient(#ffccf9, #fbe4ff, #c4faf8);
  background-repeat: no-repeat;
  background-size: cover;}




.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}


.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.headshot {
  max-width: 20%;
}
