body {
  font-family: Impact;
  background-image: conic-gradient(#ffccf9, #fbe4ff, #c4faf8);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  display: grid;
  gap: 2%;
  grid-template-areas:
    "header"
    "headshot"
    "social"
    "contact"
    "call"
    "email"
    "footer";
}

.header {
  grid-area: header;
}

.headshot {
  grid-area: headshot;
}

.social {
  grid-area: social;
}

.contact {
  grid-area: contact;
}

.call {
  grid-area: call;
}

.email {
  grid-area: email;
}

.footer {
  grid-area: footer;
}
